[submodule "inmp441"]
	path = inmp441
	url = https://github.com/barafael/inmp441-breakout-kicad
[submodule "kwmobile_sdcard_module"]
	path = kwmobile_sdcard_module
	url = https://github.com/barafael/kwmobile-sdcard-module-kicad
